.container
{
    position: relative;
}
.movie-img-container img
{
    width: 100%;
}

.overlay
{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.title
{
    align-self: flex-end;
}