.container {
    position: relative;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s;
}
.container:hover
{
    box-shadow: 0 0px 8px rgba(231, 28, 97, 1);
}
.movie-img-container img {
    width: 100%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.overlay {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(13, 12, 15, 0.15);
    z-index: 5;
    border-radius: 8px;
}

.title {
    align-self: flex-end;
}

.btn {
    position: absolute;
    z-index: 7;
    border: none;
    display: flex;
    align-content: center;
    justify-content: center;
    transition: all 0.2s;
}

.remove-btn {
    top: 1rem;
    right: 0.7rem;
    background-color: transparent;
    transition: all 0.2s;
    font-size: 2.5rem;
    color: #E71C61;
    animation: pop 0.7s ease-in-out;
}

.remove-btn:hover {
    border-radius: 50%;
    transform: scale(1.2);
}

.add-btn {
    top: 1rem;
    right: 1rem;
    padding: 0.5rem;
    animation: pop-out 0.5s ease-in-out;
    background-color: rgba(85, 85, 85, 0.5);
}

.add-btn:hover {
    border-radius: 50%;
    background-color: #E71C61;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .blur {
        -webkit-backdrop-filter: blur(4px);
        backdrop-filter: blur(4px);
    }
}

.icon {
    font-size: 1.5rem;
    color: white;
}

.trailer-btn {
    margin: 0 auto 1rem;
    width: 70%;
    background-color: #E71C61;
    color: white;
    border: solid 1px #E71C61;
    transition: all 0.3s;
}

.trailer-btn:hover,
.trailer-btn:active {
    background-color: #da648b;
    border: solid 1px #da648b;
}

@keyframes pop {
    0% {
        transform: scale(1.5);
    }

    25% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.5);
    }

    75% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes pop-out {
    0% {
        transform: scale(0.5);
    }

    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}