.container
{
    width: 80%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn
{
    border: solid 1px #E71C61;
    background-color: #E71C61;
    color: white;
    margin: 1.5rem auto;
    display: block;
    padding: 0.5rem 1.5rem;
}
.btn:hover
{
    background-color: white;
    color: #E71C61;
    font-weight: 600;
}