
.header
{
    color: white;
    flex-grow: 1;
}

.header::selection
{
    color: yellow;
    background-color: #E71C61;
}

.query
{
    color: #E71C61;
}

.no_results
{
    min-height: 70vh;
    text-align: center;
}