
.text-grey
{
    color: #212529;
}
a:hover
{
    color: #E71C61;
}
body
{
    background-color: #111111;
}

button:focus-visible
{
    outline: none;
    -moz-outline:none;
    -webkit-outline:none
}

.header-underline::after
{
    content: '';
    height: 2px;
    background-color: #E71C61;
    width: 100%;
    display: block;
    position: relative;
    top: 0.3rem;
}

.header-underline
{
    display: inline-block;
}

.horizontal-line
{
    width: 70%;
    height: 2px;
    background-color: #E71C61;
    margin: 1rem auto;
}

.load-more
{
    background-color: #E71C61;
    border-radius: 10px;
    border: 2px solid #E71C61;
    color: white;
    padding: 0.5rem;
}

.load-more:hover
{
    background-color: white;
    color: #E71C61;
}