.carousel-header {
    position: relative;
    top: 2.5rem;
    left: 1rem;
    color: white;
    font-size: 2rem;
    text-decoration: none;
}

.carousel-header::selection {
    color: yellow;
    background-color: #E71C61;
}

/*  small devices */
@media (max-width: 576px) {
    .carousel-header {
        top: 1rem;
    }
}